In [18]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   28        Chicago

In [17]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

## Accessing single column

In [4]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

## Accessing Rows:

In [7]:
s = df.iloc[0]
print(s)
print("===============")

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
===============
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

## Slicing:

In [8]:
p = df[1:3]
print(p)

      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

## Finding Unique Elements:

In [9]:
uniq = df['Age'].unique()
print(uniq)

[25 30 35 28]

## Conditional Filtering:

In [15]:
#con = df[df['Age'] > 25]
#print(con)

## Saving DataFrames:

In [14]:
df.to_csv('data/data.csv', index=False)